URL_DATABASE= // Set the JDBC URL for connecting to the MySQL database.
// This should include the hostname, port, and database name.
// For example, if your MySQL database is running on localhost at port 3306 and the database name is intern_hub_db, you would set it as follows:
// URL_DATABASE="jdbc:mysql://localhost:3306/intern_hub_db"
DB_USERNAME= // Set the username for connecting to the MySQL database.
// This should be the username that has access to the database specified in URL_DATABASE.
// For example, if your MySQL database username is root, you would set it as follows
// DB_USERNAME="root"
DB_PASSWORD= // Set the password for connecting to the MySQL database.
// This should be the password for the username specified in DB_USERNAME.
// For example, if your MySQL database password is root, you would set it as follows:
// DB_PASSWORD="root"
SIGNER_KEY= // Set the signer key for JWT token generation and validation.
// This should be a secure, random string that is used to sign the JWT tokens.
// For example, you can generate a random string and set it as follows:
// SIGNER_KEY="your-secure-random-string"
ADMIN_EMAIL= // Set the email address for the admin user.
// This will be used for logging in to the admin account.
// For example, you can set it as follows:
// ADMIN_EMAIL="admin@example.com"
ADMIN_PASSWORD= // Set the password for the admin user.
// This will be used for logging in to the admin account.
// For example, you can set it as follows:
// ADMIN_PASSWORD="your-secure-password"